/*  */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f5f8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-form {
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 4rem 0;
}

#drink {
    width: 80%;
    border: none;
    padding: .7rem;
    border-radius: .5rem;
    margin-top: 2rem;
}

#drink::placeholder {
    text-transform: capitalize;
}

.hide-loading {
    display: none;
}

section {
    position: relative;
    padding-bottom: 3rem;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f1f5f8;
    text-align: center;
    z-index: 999;
}

.error-msg {
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f1f5f8;
    z-index: 999;
}

.hide-error {
    display: none;
}

.drinks-center {
    width: 85vw;
    margin: 0rem auto 3rem auto;
    display: grid;
    gap: 3rem;
    max-width: 1140px;
}

.drink-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.single-drink {
    height: 15rem;
    border: 10px solid white;
    border-radius: .5rem;
    position: relative;
    transition: all .5s ease;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.drink-name {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #222222;
    color: white;
    padding: 1rem;
    margin-right: .1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    transform: translate(30%, 50%);

}

.single-drink:hover {
    filter: blur(1px);
    filter: grayscale(50%);
    transform: scale(1.01);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media screen and (min-width:900px) {
    .drinks-center {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1140px) {
    .drinks-center {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* single drink hmtl */
.container {
    width: 85vw;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
    max-width: 999px;
}

.single-drink-image {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border: 10px solid white;
    border-radius: .5rem;
    position: relative;
    transition: all .5s ease;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.drink-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
}

.title {
    text-transform: capitalize;
    font-size: 2rem;
}

.desc {
    color: hsl(210, 22%, 49%);
}

ul li {
    list-style-type: none;
}

.ingredient {
    margin-left: 1rem;
    text-transform: capitalize;
}

.btn {
    background-color: #49a6e9;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem .8rem;
    border-radius: .5rem;
    letter-spacing: 2px;
    transition: all .3s ease;
}

.btn:hover {
    background-color: #1f4b6b;
    color: #60b4f0;
}

@media screen and (min-width:992px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}